<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManagementOrder</title>
    @if (Context.Request.Cookies.Contains(new KeyValuePair<string, string>("IsDarkMode", "true")))
    {
        <link rel="stylesheet" href="~/lib/bootswatch/slate/bootstrap.min.css" />
    } else
    {
        <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    }
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (!(ViewData.ContainsKey("HasNavbar") && (bool)ViewData["HasNavbar"] == false))
    {
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@RestaurantManagementOrder.Services.Constants.RestaurantName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.User.Claims.Any(cl => cl.Type == "type" && cl.Value == "Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">All users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="MenuItemsAdmin" asp-action="Index">All menu items</a>
                            </li>
                        }
                        @if (Context.User.Claims.Any(cl => cl.Type == "type" && cl.Value == "Waiter"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="WaiterPanel" asp-action="Index">Tables</a>
                            </li>
                        }
                        @if (Context.User.Claims.Any(cl => cl.Type == "type" && cl.Value == "Cook"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="CookPanel" asp-action="Index">Cook list</a>
                            </li>
                        }
                        <div class="mr-auto"></div>
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-dark">@Context.User.Claims.First(cl => cl.Type == "name").Value</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="ToggleDarkmode">
                                <i class="bi-sun"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RestaurantManagementOrder
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
